*
{
    font-family: sans-serif;
}

body
{
    background-color: gainsboro;
}

.container
{
    padding: 100px;
    height: 100%;
}

.buylist
{
    display: inline-block;
    margin: 0 auto;
    background-color: white;
    padding: 5px 25px 4px 0px;      
    font-size: 13px;
    border-radius: 3px;
    width: 65%;
}

.shopping-cart
{
    display: inline-block;
    margin: 0 auto;
    margin-left: 30px;
    padding: 0px 10px 4px 0px;
    background-color: white;
    border-radius: 3px;
}

.row
{
    margin: 5px 0px;
    border-bottom: 1px solid gainsboro;
    width: 106.5%;
    padding: 0px 10px 5px 10px;
}

input[name="item-name"]
{
    width: 80%;
    padding: 10px;
    margin: 5px 5px 5px 0;
    color: darkgray;
    border: 1px solid gainsboro;
    border-radius: 3px;
}

input[type="submit"]
{
    background-color: cornflowerblue;
    width: 12%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid rgba(0,0,0,0);
    margin-left: -15px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border-top-right-radius: 3x; 
    border-bottom-right-radius: 3px;
}

input[name="num-of-items"]
{
    width: 5%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    background-color: gainsboro;
    border-radius: 3px;
}

.group.right
{
    float: right;
    padding-right: 50px;
}

.group.center
{
    padding-left: 30%;
}

.name
{
    width: 10%;
}