body
{
    background-color: gainsboro;
}

.container
{
    padding: 100px;
    height: 100%;
}

.buylist
{
    display: inline-block;
    margin: 0 auto;
}

.shopping-cart
{
    display: inline-block;
    margin: 0 auto;
    padding-left: 35%;
   /* float: right;*/
}